@import "tailwindcss";

* ::-webkit-scrollbar {
  display: none;
}

.forms {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 31vw;
  width: 31vw;
  position: fixed;
  left: 34%;
  top: 20%;
  backdrop-filter: blur(10);
  border-radius: 50%;
  z-index: 5;
}

.forms::after {
  content: "";
  position: absolute;
  filter: blur(2px);
  width: 100%;
  box-shadow: 0 0px 30px 2px rgba(130, 129, 129);
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.forms input,
.forms button {
  margin: 1.5%;
  width: 60%;
  height: 8%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.forms button {
  border: none;
  color: white;
  background-color: rgba(255, 3, 3, 0.8);
}

.animate {
  display: flex;
  animation: rollin 1.5s 1 alternate;
}

.animate-out {
  animation: rollout 1.5s 1;
}

.animate-mobile {
  display: flex;
  animation: rollin-mobile 1.5s 1 alternate;
}

.animate-out-mobile {
  animation: rollout-mobile 1.5s 1;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .forms {
    height: 36vw;
    width: 36vw;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .forms {
    height: 42vw;
    width: 42vw;
  }
}

@media (max-width: 800px) {
  .forms {
    border-radius: 0;
    height: 60%;
    width: 70%;
    left: 15%;
    top: 18%;
  }
  .forms::after {
    display: none;
    border-radius: 0;
  }
}
@keyframes rollin {
  0% {
    left: 99%;
    transform: rotate(270deg);
  }
  100% {
    left: 34%;
    transform: rotate(0deg);
  }
}

@keyframes rollout {
  0% {
    display: flex;
    left: 34%;
    transform: rotate(0deg);
  }
  100% {
    left: -30%;
    transform: rotate(-380deg);
    display: none;
  }
}

@keyframes rollin-mobile {
  0% {
    left: 99%;
  }
  100% {
    left: 15%;
    transform: rotate(0deg);
  }
}

@keyframes rollout-mobile {
  0% {
    display: flex;
    left: 15%;
  }
  100% {
    left: -100%;
    display: none;
  }
}
